@media(max-width: 768px){
    body{
        width: 100%;
    }
    .header h1{
        text-align: center;
        padding: 15px 20px;
        font-size: 14px;
    }
    .hero{
        flex-direction: column;
        max-width: 100%;
        gap: 0;
        flex-wrap: wrap;
    }
    .destaque{
        width: 100%;
        height: 100%;
    }
    .destaque .banner{
        text-align: center;
    }
    .destaque .banner .imagem-chamativa{
        width: 374px;
        height: 294px;
    }
    .descricao{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 49px;
    }

    .descricao .logo{
        width: 70%;
        margin: 0;
        position: absolute;
        top: 320px;
        left: 50px;
    }
    .descricao p{
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .descricao .btn{
        font-size: 14px;
        padding: 20px 28px;
    }
    .descricao .btn::after{
        content: "";
    }
    .bonus{
        width: 100%;
        height: 92px;
    }
    .bonus ul{
        border-top:solid 2px #FF42D6;
        border-bottom:none;
        border-left: none;
        border-right: none;
    }
    hr{
        width: 0;
        height: 0;
        opacity: 0;
    }
    .treinamento{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .treinamento .desenvolvimento{
        width: 100%;
        margin: 35px 0px;
        padding: 0 20px;
    }
    .treinamento .desenvolvimento p{
        text-align: center;
        font-size: 18px;
    }

    .treinamento .celulares img{
        width: 252px;
        height: 336px;
        margin-top: 120px;
    }
    @media(max-width: 400px){
        .treinamento .celulares img{
            margin-top: 200px;
        }
    }
    .treinamento .desenvolvimento ul li{
        font-size: 14px;
        gap: 8px;
    }
    .treinamento .desenvolvimento ul li:nth-child(2),
    .treinamento .desenvolvimento ul li:nth-child(3),
    .treinamento .desenvolvimento ul li:nth-child(4){
        gap: 2px;
    }
    .treinamento .desenvolvimento ul li:nth-child(5)::before{
        width: 45px;
    }
    .retangulo-2{
        max-height: 90px;
    }
    .retangulo-2 h2{
        font-size: 14px;
        padding: 12px 20px 15px;
        height: 100%;
        width: 374px;
    }
    .acesso-metodologia{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .acesso-metodologia img{
        width: 252px;
        height: 285px;
        margin: 0 auto;
    }
    .acesso-metodologia div{
        width: 100%;
    }
    .acesso-metodologia div h3{
        font-size: 18px;
    }
    .acesso-metodologia div span{
        justify-content: center;
    }
    .acesso-metodologia div p{
        padding: 25px 19px;
    }
    .acesso-metodologia div .btn-2{
        font-size: 14px;
        padding: 20px 15px; 
    }
    .acesso-metodologia div .btn-2::after{
        content: "";
    }
    .conteudo-curso{
        width: 100%;
    }
    .conteudo-curso  h3{
        text-align: center;
        width: 374px;
        font-size: 18px;
        margin: 0 auto;
    }
    .conteudo-curso .modulos{
        justify-content: flex-start;
        gap: 0;
    }
    .conteudo-curso .modulos .modulo div img{
        width: 374px;
        height: 682px;
    }
    .conteudo-curso .modulos .modulo .info-modulo{
        width: 374px;
        height: 180px;
        margin-top: -8px;
    }
    .conteudo-curso .modulos .modulo.um{
        margin: 0 20px;
    }
    .conteudo-curso .modulos .modulo.dois,
    .conteudo-curso .modulos .modulo.tres,
    .conteudo-curso .modulos .modulo.quatro{
        z-index: -1;
        display: none;
    }
    .conteudo-curso .modulos::after{
        content: "";
        display: none;
    }
    .conteudo-curso .modulos::before{
        content: "";
        display: none;
    }
    .conteudo-curso .bonus-especial{
        margin-top: 300px;
    }
    .conteudo-curso .bonus-especial h4{
        font-size: 18px;
        width: 374px;
        margin: 0 auto;
        text-align: center;
    }
    .conteudo-curso .bonus-especial .lista-bonus{
        margin-left: 12px;
        display: flex;
        gap: 20px;
    }

    .conteudo-curso .bonus-especial .lista-bonus:nth-child(3),
    .conteudo-curso .bonus-especial .lista-bonus:nth-child(4),
    .conteudo-curso .bonus-especial .lista-bonus:nth-child(5),
    .conteudo-curso .bonus-especial .lista-bonus:nth-child(6){
        display: none;
    }
    .conteudo-curso .bonus-especial .btn-3{
        margin: 75px 20px;
        font-size: 14px;
        padding: 20px 18px;
    }
    .conteudo-curso .bonus-especial .btn-3::after{
        content: "";
    }
    .recaptulando .recaptular{
        justify-content: center;
        align-items: center;
    }
    .recaptulando .recaptular h4{
        font-size: 18px;
        text-align: left;
        margin-left: 0;
        margin-bottom: 61px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .recaptulando .recaptular img{
        display: none;
    }
    .recaptulando .listagem-curso ul{
        margin: 0 20px;
    }
    .recaptulando .listagem-curso ul li{
        width: 374px;
    }
    .recaptulando .listagem-curso ul .ajuste{
        margin-left: 0;
    }

    .recaptulando .treinamento-online img{
        width: 374px;
        height: 200px;
    }
    .recaptulando .treinamento-online p{
        font-size: 18px;
    }
    .recaptulando .treinamento-online ul{
        flex-direction: column;
    }
    .recaptulando .treinamento-online ul li{
        border: none;
        font-size: 14px;
    }
    .surpresa-container .surpresa{
        flex-direction: column-reverse;
        align-items: center;
    }
    .surpresa-container .surpresa .info-surpresa p{
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
    }
    .surpresa-container .surpresa .info-surpresa ul{
        margin:35px 15px;
        font-size: 13px;
    }
    .surpresa-container .surpresa .info-surpresa .btn-4{
        font-size: 14px;
        padding: 20px 18px;
        margin: 0 auto;
    }
    .surpresa-container .surpresa img{
        width: 314px;
        height: 328px;
    }
    .surpresa-container .garantia{
        flex-direction: column;
        gap: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .garantia img{
        width: 352px;
        height: 195px;
    }
    .surpresa-container .garantia .info-garantia{
        width: 100%;
    }
    .surpresa-container .garantia .info-garantia h4{
        font-size: 18px;
        margin-top: 25px;
    }
    .surpresa-container .garantia .info-garantia p{
        width: 100%;
        padding: 5px 20px;
    }
    .mentora .info-mentora{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    .mentora .info-mentora img{
        width: 374px;
        height: 425px;
    }
    .mentora .info-mentora div h4{
        font-size: 18px;
        text-align: center;
    }
    .mentora .info-mentora div p{
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    .footer div{
        margin: 0 auto;
    }
    .footer div p{
        font-size: 20px;
        color: #FF42D6;
        justify-content: center;
        align-items: center;
        margin: 35px auto;
    }
    .footer div ul{
        padding: 0 20px;
    }
    .footer div ul li{
        width: 374px;
    }
}