
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --cor-primaria: ;
    --cor-secundaria: ;    
    --cor-branca: #FFF;
    --cor-fundo: ;    
    --cor-fundo-cinza: #D9D9D9;
    --cor-roxo:#731E60;
    --cor-roxo-escuro: #FF42D608;
    -cor-rosa-borda:#FF42D6;
}

:root {
    --fonte-titulo: 'Sora',sans-serif;
    --fonte-texto: 'Manrope', sans-serif;
    --fonte-terciaria:'Poppins',sans-serif ;
    --fonte-grande: 24px;
    --fonte-caixa: 14px;
  }